@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img class="bqPhotoFullDesktop" src="https://www.brainyquote.com/photos_tr/en/m/mileycyrus/409345/mileycyrus1.jpg" alt="Life is all about having a good time. - Miley Cyrus">
