
@{
    ViewBag.Title = "Enter";
}
@{
    Layout = "~/Views/Shared/EnterLayout.cshtml";
}
<style>
    body{
        background-image: url("http://tinyurl.com/javcnwk");
        background-size: cover
        
    }
</style>
<h2 align="center"><span style="color:white">Select Sign Up or Log In</span></h2>

<form  action="@Url.Action("Register","Home")" method="post">
    <div align ="center">
        <input id="Submit1" type="submit" class="btn btn-primary" name="Register" value="Register" href="@Url.Action("Register", "Home")" />
    </div>
</form>
<br />

<form " action="@Url.Action("Login","Home")" method="post">
    <div align="center">
        <input id="Submit1" type="submit" class="btn btn-primary" name="Login" value="Login" href="@Url.Action("Login", "Home")" />
    </div>
</form>
<br />
<br />
<div align="center">
    <span style="color:white"><text>"Although Kazakhstan a glorious country, it have a problem, too: economic, social, and Jew. - Borat "</span>
</div>