
@{
    ViewBag.Title = "About Us";
}

<h2>Some wise chinese proverb about life </h2>

<img class="bqPhotoFullDesktop" src="https://www.brainyquote.com/photos_tr/en/m/mileycyrus/409345/mileycyrus1.jpg" alt="Life is all about having a good time. - Miley Cyrus">
