
@{
    ViewBag.Title = "GuestContact";
}
@{ 
    Layout = "~/Views/Shared/EnterLayout.cshtml";
}

<address>
    SCE Building F, room 202 (The one with the lightning fast PCs)<br />
    Beer Sheva, IL 11235-813<br />
    <abbr title="Phone">P:</abbr>
    08-127-001
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yoadwo@ac.sce.ac.il">Yoad, Lead Programmer</a><br />
    <strong>Marketing:</strong> <a href="mailto:yairschneid@gmail.com">Yair, A Leader</a>
</address>

