@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Stock_Layout.cshtml";

}

<div class="jumbotron">
    <h1>MVC Store Welcome</h1>
    <p class="lead">Number 4 cheap store in all kazakhstan .</p>
    @{ 
        string cid = "";
        if (Session["userID"] != null)
        {
            cid = Session["userID"].ToString();
        }
    }
    <h2>Welcome User @cid</h2>
</div>

<div class="row">
    <div align="right" class="col-md-4">
        <h2>Refresh Stock</h2>
        <p>Coffee may run out, but never our products!</p>
        <p><a class="btn btn-default" href="@Url.Action("showStock", "Stock")">Restock &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2></h2>   
    </div>
    
</div>