@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Store Welcome</h1>
    <p class="lead">Number 4 cheap store in all kazakhstan .</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Refresh Stock</h2>
        <p>Coffee may run out, but never our products!</p>
        <p><a class="btn btn-default" href="@Url.Action("showStock", "Stock")">Restock &raquo;</a></p>
        
        
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Buy Products</h2>
        <p>We sell printers, PCs and laptops.</p>
        <p><a class="btn btn-default" href="@Url.Action("showProducts", "Products")">Our Products &raquo;</a></p>
    </div>
</div>