@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Store Welcome</h1>
    <p class="lead">Number 4 cheap store in all kazakhstan .</p>
    @{ 
        string cid = "";
        if (Session["userID"] != null)
        {
            cid = Session["userID"].ToString();
        }
    }
    <h2>Welcome User @cid</h2>
</div>

<div class="row">
    
    <div align="left" class="col-md-4">
        <h2>Buy Products</h2>
        <p>We sell printers, PCs and laptops.</p>
        <p><a class="btn btn-default" href="@Url.Action("showProducts", "Products")">Our Products &raquo;</a></p>
    </div>
</div>