@model MVCstore.Models.Employee
@{
    ViewBag.Title = "Login";
}
@{
    Layout = "~/Views/Shared/EnterLayout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("SubmitLogin", "Home", FormMethod.Post))
{
    
    <div>
        <fieldset>
            <table>
                <tr>
                    <td>Email</td>
                    @*<td>@Html.TextBoxFor(m=> m.EmployeeEmail)</td>*@
                    <td><input type='text' id='logEmail' name="logEmail" value='Enter Email'/></td>
                    <td id="emailException"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    @*<td>@Html.PasswordFor(m=> m.EmployeePassword)</td>*@
                    <td><input type='text' id='logPassword' name="logPassword" value='Enter Password' /></td>
                    <td><span style="color:red"></span></td>
                    <td>
                        @if (TempData["Fail"] != null)
                    {
                        <p class="alert alert" id="failMessage">@TempData["Fail"]</p>
                    }
                </td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <label>
                                <input id="Radio" type="radio" name="typeSwitch" /><label>Check if you are an Employee of Borat</label>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-primary" name="SubmitLogin" value="Login" /></td>
                    
                </tr>
            </table>
        </fieldset>
    </div>
}

