
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>my404</title>
</head>
<body>
    <div> 
        <img src="@Url.Content("~/Content/my404.jpg")" alt="Image" />
    </div>
    <div align="center">
        <p><a class="btn btn-primary" style="color:#ffffff;background-color:#428bca;border-color:#357ebd;" href="@Url.Action("Register", "Home")">Try This Way &raquo;</a></p>
    </div>
</body>
</html>
