
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>showStock</title>
    <link href="@Url.Content("~/Content/scrollTable.css")" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <div>
        <span style="color:blue">Better restock, winter is coming:</span><br />
    </div>
    <div>
        <input id="allStock_bt" type="button" value="Show All Products" onclick="getJSON('getProductsByJSON', getAll)" />
        <input id="zeroStock_bt" type="button" value="Show 0-Quantity Products" onclick="getJSON('getZeroQuantityByJSON', getZero)" />
    </div>
    <div id="status"></div>
    <div>
        <table class="scroll" id="stockTable"></table>
    </div>
    <br />
    <input id="toConfirm_bt" type="button" value="See Table of all Stock Requests  &raquo;" onclick="location.href='@Url.Action("showConfirm", "Stock")';" />

    

    <script language="javascript">
        // Change the selector if needed
        var $table = $('table.scroll'),
          $bodyCells = $table.find('tbody tr:first').children(),
          colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function () {
            // Get the tbody columns width array
            colWidth = $bodyCells.map(function () {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            $table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler

    </script>

    <script language="javascript">

        function getJSON(action, getStock) {
            $("#status").text("Loading Table...");
            $.get(action, null, getStock);
        }
        //TODO:
        // 3. write "begin purchase function" tree
        // 4. apply above to "0-stock" table


        // Code products table in html : (JSON list) prodList retrieved from action "getProductsByJSON"
        function getAll(stock) {
            $("#stockTable").find("tbody").remove();
            $("#stockTable").find("thead").remove();
            var tbl = $("#stockTable");
            var header =
                "<thead>" +
                    "<tr>" +
                        "<th>Model</th>" +
                        "<th>Maker</th>" +
                        "<th>In Stock</th>" +
                        "<th>Type</th>" +
                        "<th>Order More?</th>" +
                        "<th></th>" +
                    "</tr>" +
                 "</thead>";
            tbl.append(header);
            tbl.append("<tbody>")
            for (k = 0; k < stock.length; k++) {
                var row =
                    "<tr id= 'all_row_" + k + "'>" +
                    "<td>" + stock[k].Model + "</td>" +
                    "<td>" + stock[k].Maker + "</td>" +
                    "<td>" + stock[k].Quantity + "</td>" +
                    "<td>" + stock[k].Type + "</td>" +
                    "<td><input type='text' id='all_count_" + k + "' value='0'/></td>" +
                    "<td><input width='1000' type='button' id='all_bt_" + k + "' value='Restock' onclick=\"purchaseProcess($(\'#all_count_" + k + "\').val()," + stock[k].Model + ","  + "\'stock_txt_" + k + "\')\"></td>" +
                    //"<td><input type='button' id='pc_bt_" + k + "' value='Add to Cart' onclick=\"addToCart(\'pc_row_" + k + "\')\"></td>" +                                              `
                    "<td id='stock_txt_" + k + "'></td>" +
                    "</tr>"
                tbl.append(row);
            }
             tbl.append("</tbody>")

            $("#status").text("")

        }

        function purchaseProcess(quantity, model, label) {
            if (quantity <= 0) {
                alert('please specify a positive quantity');
                return;
            }

            hideButtoWhilePurchase();
            // A-sync JSON query
            addRestockRequest(quantity, model, label);
        }

        function hideButtoWhilePurchase() {
            $("#toConfirm_bt").hide();
        }
        function showButtonAfterPruchase() {
            $("#toConfirm_bt").show();
        }
        function addRestockRequest(Quantity, model, label) {
            //should probably move this one and move the purchase part to "show cart"
            //build a list of desired products, send them all to "show cart"
            //and apply this function on each item on the list
            
            var ok = document.getElementById(label);
            var url = '@Url.Action("restockRequest", "Stock")';
            var requestData = { quantityToAdd: Quantity, model: model };
            ok.innerHTML = "updating product order request... ";
            //send JSON to server
            $.get(url, requestData,
            //addedQuantityData: Order object
            function () {
                alert('product order placed successfully')
                ok.innerHTML = "";
                showButtonAfterPruchase();
            }
            );
        }

    </script>
</body>
</html>
